.Toolbar {
  bottom: 32px;
  left: 50%;
  position: absolute;
  transition: opacity 0.3s;
  transform-origin: 0 0;
  transform: scale(1.5) translateX(-50%);
}

.Toolbar.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.Toolbar--tool {
  height: 17px;
  width: 17px;
}
