.Farm {
  flex: 1;
  height: 100%;
  display: inline-block;
  position: relative;
  overflow: auto;
  overscroll-behavior: none;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.Farm canvas {
  display: block;
}
