* {
  box-sizing: border-box;
  cursor: url("/images/cursor.png"), auto;
}

html,
body,
#root {
  height: 100%;
  overscroll-behavior: none;
  width: 100%;
}

html {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  zoom: 300%;
}

body {
  font-family: monospace;
  font-size: 8px;
  margin: 0;
  padding: 0;
}

.sdv-button {
  background: #ffd883;
  border-image: url("/images/button-big.png") 13 stretch;
  border-width: 13px;
  border-style: solid;
  text-align: center;
}

.sdv-button:hover {
  background: #ffffbc;
  border-image: url("/images/button-big-hover.png") 13 stretch;
  border-width: 13px;
  border-style: solid;
}

.sdv-menu-button,
.sdv-toolbar-border {
  background: #febd67;
  background-clip: padding-box;
  border-image: url("/images/toolbar-border.png") 4 stretch;
  border-style: solid;
  border-width: 4px;
}

.sdv-tool-border {
  border-image: url("/images/tool-border.png") 1 stretch;
  border-width: 1px;
  border-style: solid;
}
